.pizza {
    justify-content: center;
    align-items: center;
    display: flex;
   }




   body {
       font-family: 'Golos Text', sans-serif;
       font-family: 'Oswald', sans-serif;
       font-family: 'Roboto', sans-serif;
       margin: 0;
       padding: 0;
   }

   h1 {
       color: rgb(212, 0, 0);
   }

   h2 {
       background-color: red;
   }
   
   header {
       margin: 20px;
       padding: 0px;
   }

   button {
       border-radius: 45vh;
       background-color: burlywood;
       color: black;
   }

   #submit {
    border-radius: 45vh;
    background-color: burlywood;
    color: black;
   }